# Archivos ejecutables y objetos binarios de LLVM/Clang
*.exe
*.obj
*.o

# Archivos de representación intermedia de LLVM
*.ll
*.bc

# Herramienta de compilación ANTLR (el jar)
*.jar

# Archivos generados automáticamente por ANTLR4
SolveSelLexer.py
SolveSelParser.py
SolveSelVisitor.py
SolveSel.interp
SolveSel.tokens
SolveSelLexer.interp
SolveSelLexer.tokens
solve_sel_bridge.c

# Archivos de Python y entornos
__pycache__/
.vscode/